<configuration debug="false">
    <contextName>switcher</contextName>
    <property name="log_dir" value="D:/logs/" />
    <property name="max_history" value="720" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 按照每天生成日志文件 -->
    <appender name="Info"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_dir}/info/switcher-info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${log_dir}/info/switcher-%d{yyyy-MM-dd}-info.log</FileNamePattern>
            <!--日志文件保留天数-->
            <MaxHistory>${max_history}</MaxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="Info" />
    </root>
</configuration>